@use "../variables" as v;

.navbar {

  &__container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100vh;
    width: fit-content;
    background-color: v.$blue;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}