@use "../variables" as v;

.layout {

  &__background {
    background: v.$background-color;
  }

  &__container {
    display: flex;
  }

}

.main {

  &__container {
    width: 100%;
    padding: 7.2rem;
  }

}