@use "../variables" as v;

.topbar {

  &__container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
  }

}

.title {
  color: v.$white;
  font-size: v.$title-size;
  font-weight: 600;
}