@use "./variables" as v;

@mixin box-shadow() {
  -webkit-box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
}

@mixin metric-base() {
  padding: 2rem;
  border-radius: 2rem;
  background-color: v.$blue;
  @include box-shadow;
}