// Typography
$font-family: 'Roboto', sans-serif;
$title-size: 5rem;

// Colors
$blue: #0F4471;
$dark-blue: #062642;
$green: #27AC2D;
$yellow: #DDE054;
$red: #FC3C3C;
$white: #F6F6F6;
$background-color: linear-gradient(to bottom, #062642 0%,#0f4471 100%);